/* google fonts - inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

:root {
  --clr-primary: #1e1e21;
  --clr-bg: #f5f3ef;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Inter', sans-serif;
}

/* header */
#header {
  width: 100%;
  /* height: 50%; */
  /* border: 1px solid red; */
  padding: 4rem 4rem 3rem;
  background-color: var(--clr-bg);
}

#header > nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
  position: fixed;
  width: calc(100% - 6rem);
  top: 2rem;
}

#header > nav > #header__cart-btn {
  background-color: var(--clr-primary);
  font-size: 1.25rem;
  font-weight: 600;
  color: #f5f3ef;
  width: 56px;
  height: 56px;
  text-align: center;
  border: 2px solid var(--clr-primary);
  border-radius: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#header__menu-btn {
  padding: 1rem 1.5rem;
  background-color: var(--clr-primary);
  font-size: 1.25rem;
  font-weight: 600;
  color: #f5f3ef;
  text-align: center;
  border: 2px solid var(--clr-primary);
  border-radius: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#header__intro h1 {
  font-size: 136.6px;
  font-weight: 600;
  line-height: 1em;
  color: var(--clr-primary);
  letter-spacing: -7px;
  margin-bottom: 1rem;
}

#header__intro-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--clr-primary);
}

#header__intro-footer h3 {
  font-size: 1.7075rem;
  font-weight: 600;
  letter-spacing: -0.5px;
}

#header__intro-footer > span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7075rem;
  font-weight: 600;
  letter-spacing: -0.5px;
  gap: 0.5rem;
}

#header__intro-footer > span > i {
  font-size: 1.5em;
  font-weight: 100;
}

#hero__image {
  width: 100%;
  height: 590px;
  background-image: url('images/6458a6db645ec6a527000cfa_home-hero-p-1600.webp');
}

/* about me */
main {
  background-color: var(--clr-bg);
}
#about-me {
  padding: 0 4rem;
}

#about-me__div-cols-wrapper {
  border-bottom: 2px solid var(--clr-primary);
  padding: 3rem 0;
  display: flex;
}

.about-me__div-col1 {
  width: 780px;
  padding-right: 6rem;
  border-right: 2px solid var(--clr-primary);
}

.about-me__div-col1 h2 {
  font-size: 5.1225rem;
  font-weight: 600;
  line-height: 1em;
  color: var(--clr-primary);
  letter-spacing: -2px;
}

.about-me__div-col2 {
  padding-left: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-me__div-col2 h3 {
  color: var(--clr-primary);
  font-size: 1.7075rem;
  font-weight: 600;
  letter-spacing: -0.5px;
}

.about-me__div-col2-socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.about-me__div-col2-socials i {
  background-color: var(--clr-primary);
  color: var(--clr-bg);
  font-size: 1.5rem;
  padding: 0.7rem;
  border-radius: 500px;
  cursor: pointer;
}

/* what i do section */
#whatIdo {
  padding: 3rem 4rem 5px;
}

#whatIdo__inner-wrap {
  border-bottom: 2px solid var(--clr-primary);
  padding-bottom: 3rem;
  display: flex;
}

.whatIdo__col1 {
  display: flex;
  justify-content: space-between;
  min-width: 420px;
  padding-right: 1rem;
  border-right: 2px solid var(--clr-primary);
}

.whatIdo__col2-gr1-line {
  background-color: var(--clr-primary);
}

.whatIdo__col1 h3 {
  color: var(--clr-primary);
  font-size: 1.7075rem;
  font-weight: 600;
  letter-spacing: -0.5px;
}

.whatIdo__col1 i {
  font-size: 1.7075rem;
  color: var(--clr-primary);
  font-weight: 100;
}

.whatIdo__col2 {
  display: grid;
  grid-template-rows: 1fr 2px 1fr;
  row-gap: 1.5rem;
  padding-left: 1.5rem;
}

.whatIdo__col2 > div:nth-child(3) {
  padding-left: 1rem;
}
.whatIdo__col2 > div:nth-child(1) {
  padding-right: 1rem;
}
.whatIdo__col2 > div:nth-child(5) {
  padding-right: 1rem;
}
.whatIdo__col2 > div:nth-child(7) {
  padding-left: 1rem;
}

.whatIdo__col2 h2 {
  font-size: 2.5612rem;
  color: var(--clr-primary);
  font-weight: 600;
}

.whatIdo__col2 p {
  margin-top: 0.4rem;
  font-size: 18px;
  color: rgba(30, 30, 33, 0.7);
  font-weight: 500;
  line-height: 1.6em;
}
/* experiment */
.whatIdo__col2 {
  display: grid;
  grid-template-columns: 1fr 2px 1fr;
}
.whatIdo__col2-hrline {
  grid-column: 1 / span 3;
  background-color: var(--clr-primary);
}
